.create-problem-container {
    display: flex;
    flex-direction: column;
    background-color: #40adbb3e;
    width: 100%;
    max-width: 700px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.148);
    justify-content: center;
    align-items: center;
    margin: auto;
    /* This will center it horizontally */
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 100%;
    height: auto;
}

.create-problem-title {
    margin: 0px 0px 20px 0px;
    width: 100%;
    text-align: center;
    text-size-adjust: 20px;

}

.create-problem-input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.create-problem-description {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.create-problem-option {
    width: 100%;
    size: 20px;
    border-radius: 4px;

}

.option-input {
    width: 68%;
    background-color: rgba(0, 0, 0, 0.803);
    margin: 5px;
    padding: 7px;
    border-radius: 7px;
    color: aliceblue;
}

.create-problem-button {
    width: 15%;
    height: 7%;
    background-color: salmon;
}